@charset "utf-8";
/* CSS Document */


body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  padding: 20px;
  color: #000000;
}


h1 {
  color: black;
  margin-bottom: 25px;
  font-size: 32px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


h3 {
  color: black;
  margin-bottom: 25px;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



p {
  color: black;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}
